*{
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}


.navbar{
	background-color: rgba(40, 92, 112, 0.493);
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
}

.brand{
  font-size: 35px;
  color: black;
  margin: 5px 20px;
}

.brand:hover{
	color: white;
}


.navbar-toggle{
	border: 2px solid black;
	margin: 5px 20px;
}

.icon-bar{
	background-color: black;
}

.title{
  margin-bottom: 15px;
  text-align: center;
  font-size: 3em;
  margin: 30px 0px;
  font-weight: bold;
}

.item{
	background-color: rgba(255, 255, 255, 0.801);
	border-bottom: 2px solid black;
	
}

.box{
	margin: 8px;
	background-color: rgba(143, 68, 68, 0.356);
	padding: 20px;
}

.item-title{
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
}